{% extends 'base.html' %}
{% block title %}Home{% endblock %}
  {% block title2 %}Engineering 103A DevOps App{% endblock %}
  {% block descriptor %}We've compiled the top 30 IT Jobs using a webscraper to show you a cleaned-up and clutter-free table containing the information you need below:{% endblock %}
  {% block body %}
  <div class="limiter">
    <div class="example" style="padding: 10px 8.5%">
      <div class="row">
        <div class="col-md-3">
          <form method="get" action="/download/">
          <input type="submit" class="btn btn-danger btn-block" value="Download Top 30">
          </form>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <form method="POST"  id="submitSelect" action="/">
          <select name="category" class="form-select" id="categorySelector" style="height:3rem">
            <option value="All">All</option>
            <option value="Application Platforms">Application Platforms</option>
            <option value="Applications">Applications</option>
            <option value="Business Applications">Business Applications</option>
            <option value="Cloud Services">Cloud Services</option>
            <option value="Communications & Networking">Communications & Networking</option>
            <option value="Database & Business Intelligence">Database & Business Intelligence</option>
            <option value="Development Applications">Development Applications</option>
            <option value="General">General</option>
            <option value="Job Titles">Job Titles</option>
            <option value="Libraries, Frameworks & Software Standards">Libraries, Frameworks & Software Standards</option>
            <option value="Miscellaneous">Miscellaneous</option>
            <option value="Operating Systems">Operating Systems</option>
            <option value="Processes & Methodologies">Processes & Methodologies</option>
            <option value="Programming Languages">Programming Languages</option>
            <option value="Qualifications">Qualifications</option>
            <option value="Quality Assurance & Compliance">Quality Assurance & Compliance</option>
            <option value="System Software">System Software</option>
            <option value="System Management">System Management</option>
            <option value="Vendors">Vendors</option>
          </select>

        </div>
        <div class="col-md-3">
          <input type="submit" class="btn btn-danger btn-block" value="Scrape Jobs" name="submitButton">
        </form>
        </div>
      </div>
    </div>
    <div class="container-table100" style="background-color: #efefef !important">
        <div class="wrap-table100">   
  <div class="table100 ver4 m-b-110">
    <table data-vertable="ver4" class="sortable">
        <thead>
            <tr class="row100 head">
                {% for header in columns %}
                <th class="unselectable column100 column{{ loop.index }}" data-column="column{{loop.index}}" style="text-align:center !important">{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for value in myData%}
        {% for entry in value %}
        <tr class="row100">
        {% for wentry in entry %}
        <!-- {% set dentry = wentry|string %} -->
        <td class="column100 column{{ loop.index }}" data-column="column{{loop.index}}">{{ wentry }}</td>
        {% endfor %}
        </tr>
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>
  </div></div></div></div>
  {% endblock %}
  {% block functions %} 
  window.onload = function(){ document.getElementsByClassName('table100')[0].innerHTML = document.getElementsByClassName('table100')[0].innerHTML.replace(/Â/g, "");}
  {% endblock %}