{% extends 'base.html' %}
{% block title %}The Team{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="/static/bootstrap.min.css">
<link rel="stylesheet" href="/static/site.css">
<link rel="stylesheet" href="/static/site.min.css">
{% endblock %}
{% block styles %}
.team {
    width:100% !important;
    height: 300px !important;
    object-fit: cover !important;
}
.logo {
    width: 50px !important;
    height: 50px !important;
    object-fit: cover !important;
}
.w3-top {
  font-size: 15px !important;
  line-height: 1.5 !important;

}
<!-- p {
  display: block;
  font-weight:bold;
} -->
{% endblock %}
  {% block title2 %}THE TEAM{% endblock %}
  {% block descriptor %}We've worked painstakingly as a team to complete this project. Every person acts as a moving part in our engine and we couldn't do it without a team member. Below, we list every team member that has worked on this project and the role they've taken up across the duration of our sprints:{% endblock %}
  {% block body %}
      <div class="example">
        <div class="row">
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img class="img-rounded team" src="/static/team/Shahrukh.jpg">
                <div class="caption text-center">
                  <h3>Shahrukh Khan</h3>
                  <p>Product Leader and Trainer sudo</p>
                  <div class="row">
                    <div class="col-sm-3 col-md-3"></div>
                    <div class="col-sm-3 col-md-3">
                      <a href="https://www.linkedin.com/in/a-h-shahrukh-khan/">
                        <img class="logo" src="/static/linkedin.png">
                      </a>
                    </div>
                    <div class="col-sm-3 col-md-3">
                      <a href="https://github.com/khanmaster">
                        <img class="logo" src="/static/github.png">
                      </a>
                    </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img class="img-rounded team" src="/static/team/Frederick.jpg">
                <div class="caption text-center">
                  <h3>Frederick Johnson</h3>
                  <p>Development Team</p>
                  <div class="row">
                    <div class="col-sm-3 col-md-3"></div>
                    <div class="col-sm-3 col-md-3">
                  </a><a href="https://www.linkedin.com/in/frederick-johnson-2b3814187/">
                    <img class="logo" src="/static/linkedin.png">
                  </a>
                  </div>
                  <div class="col-sm-3 col-md-3">
                  <a href="https://github.com/fredericoco">
                    <img class="logo" src="/static/github.png">
                  </a>
                  </div>
                </div>
              </div>
            </div></div>
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img class="img-rounded team" src="/static/team/Armaan.jpg">
                <div class="caption text-center">
                  <h3>Armaan Alam</h3>
                  <p>Development Team</p>
                  <div class="row">
                    <div class="col-sm-3 col-md-3"></div>
                    <div class="col-sm-3 col-md-3">
                  </a><a href="https://www.linkedin.com/in/armaan-alam-93784219b/">
                    <img class="logo" src="/static/linkedin.png">
                  </a>
                  </div>
                  <div class="col-sm-3 col-md-3">
                  <a href="https://github.com/Armaanjasim">
                    <img class="logo" src="/static/github.png">
                  </a>
                  </div>
                </div>
              </div>
            </div></div>
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img class="img-rounded team" src="/static/team/Zilamo.jpg">
                <div class="caption text-center">
                  <h3>Zilamo Farik</h3>
                  <p>Development Team</p>
                  <div class="row">
                    <div class="col-sm-3 col-md-3"></div>
                    <div class="col-sm-3 col-md-3">
                  </a><a href="https://www.linkedin.com/in/zilamo-farik-8b39a4230/">
                    <img class="logo" src="/static/linkedin.png">
                  </a>
                  </div>
                  <div class="col-sm-3 col-md-3">
                  <a href="https://github.com/zilfar">
                    <img class="logo" src="/static/github.png">
                  </a>
                  </div>
                </div>
              </div>
            </div></div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img class="img-rounded team" src="/static/team/Shadman.jpg">
                <div class="caption text-center">
                  <h3>Shadman Ahmed</h3>
                  <p>Monitoring Team</p>
                 <div class="row">
                   <div class="col-sm-3 col-md-3"></div>
                   <div class="col-sm-3 col-md-3">
                 </a> <a href="https://www.linkedin.com/in/shadman-ahmed-728345217/">
                    <img class="logo" src="/static/linkedin.png">
                  </a>
                  </div>
                  <div class="col-sm-3 col-md-3">
                  <a href="https://github.com/2Shad">
                    <img class="logo" src="/static/github.png">
                  </a>
                  </div>
                </div>
              </div>
            </div></div>
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img class="img-rounded team" src="/static/team/Vivek.jpg">
                <div class="caption text-center">
                  <h3>Vivek Radhakrishnan</h3>
                  <p>Monitoring Team</p>
                 <div class="row">
                   <div class="col-sm-3 col-md-3"></div>
                   <div class="col-sm-3 col-md-3">
                 </a> <a href="https://www.linkedin.com/in/vivek-radhakrishnan/">
                    <img class="logo" src="/static/linkedin.png">
                  </a>
                  </div>
                  <div class="col-sm-3 col-md-3">
                  <a href="https://github.com/vivrk2989">
                    <img class="logo" src="/static/github.png">
                  </a>
                  </div>
                </div>
              </div>
            </div></div>
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img class="img-rounded team" src="/static/team/Tudor.jpg">
                <div class="caption text-center">
                  <h3>Tudor Andrei Tocan</h3>
                  <p>Monitoring Team</p>
                 <div class="row">
                   <div class="col-sm-3 col-md-3"></div>
                   <div class="col-sm-3 col-md-3">
                 </a> <a href="https://www.linkedin.com/in/tudor-tocan/">
                    <img class="logo" src="/static/linkedin.png">
                  </a>
                  </div>
                  <div class="col-sm-3 col-md-3">
                  <a href="https://github.com/ttudorandrei">
                    <img class="logo" src="/static/github.png">
                  </a>
                  </div>
                </div>
              </div>
            </div></div>
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img class="img-rounded team" src="/static/team/Yacob.jpg">
                <div class="caption text-center">
                  <h3>Yacob Pereira</h3>
                  <p>Monitoring Team</p>
                 <div class="row">
                   <div class="col-sm-3 col-md-3"></div>
                   <div class="col-sm-3 col-md-3">
                 </a> <a href="https://www.linkedin.com/in/yacob-franco-pereira-4259201b5/">
                    <img class="logo" src="/static/linkedin.png">
                  </a>
                  </div>
                  <div class="col-sm-3 col-md-3">
                  <a href="https://github.com/yfp-c">
                    <img class="logo" src="/static/github.png">
                  </a>
                  </div>
                </div>
              </div>
            </div></div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img class="img-rounded team" src="/static/team/Vlad.jpg">
                <div class="caption text-center">
                  <h3>Vladimir Kashtelyanov</h3>
                  <p>Automation Team</p>
                  <div class="row">
                    <div class="col-sm-3 col-md-3"></div>
                    <div class="col-sm-3 col-md-3">
                  <a href="https://uk.linkedin.com/in/vkashtelyanov">
                    <img class="logo" src="/static/linkedin.png">
                  </a></div>
                  <div class="col-sm-3 col-md-3">
                  <a href="https://github.com/dankxylese">
                    <img class="logo" src="/static/github.png">
                  </a>
                  </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img class="img-rounded team" src="/static/team/Fahim.jpg">
                <div class="caption text-center">
                  <h3>Fahim Kalam</h3>
                  <p>Automation Team</p>
                 <div class="row">
                   <div class="col-sm-3 col-md-3"></div>
                   <div class="col-sm-3 col-md-3">
                 </a> <a href="https://www.linkedin.com/in/fahim-kalam-b3b490219/">
                    <img class="logo" src="/static/linkedin.png">
                  </a>
                  </div>
                  <div class="col-sm-3 col-md-3">
                  <a href="https://github.com/FahimSG">
                    <img class="logo" src="/static/github.png">
                  </a>
                  </div>
                </div>
              </div>
            </div></div>
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img class="img-rounded team" src="/static/team/Latif.jpg">
                <div class="caption text-center">
                  <h3>Latif Abu</h3>
                  <p>Automation Team</p>
                 <div class="row">
                   <div class="col-sm-3 col-md-3"></div>
                   <div class="col-sm-3 col-md-3">
                 </a> <a href="https://www.linkedin.com/in/latif-abu-571271193/">
                    <img class="logo" src="/static/linkedin.png">
                  </a>
                  </div>
                  <div class="col-sm-3 col-md-3">
                  <a href="https://github.com/latifabu">
                    <img class="logo" src="/static/github.png">
                  </a>
                  </div>
                </div>
              </div>
            </div></div>
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img class="img-rounded team" src="/static/team/Karim.jpg">
                <div class="caption text-center">
                  <h3>Karim Bachir</h3>
                  <p>Automation Team</p>
                 <div class="row">
                   <div class="col-sm-3 col-md-3"></div>
                   <div class="col-sm-3 col-md-3">
                 </a> <a href="https://www.linkedin.com/in/karimibachir/">
                    <img class="logo" src="/static/linkedin.png">
                  </a>
                  </div>
                  <div class="col-sm-3 col-md-3">
                  <a href="https://github.com/kbachir">
                    <img class="logo" src="/static/github.png">
                  </a>
                  </div>
                </div>
              </div>
            </div></div>
          </div>
      </div>
  {% endblock %}
