{% extends 'base.html' %}
{% block title %}The Team{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="/static/bootstrap.min.css">
<link rel="stylesheet" href="/static/site.css">
<link rel="stylesheet" href="/static/site.min.css">
{% endblock %}
{% block styles %}
.team {
    width:100% !important;
    height: 180px !important;
    object-fit: cover !important;
} 
.w3-top {
  font-size: 15px !important;
  line-height: 1.5 !important;

}
<!-- p {
  display: block;
  font-weight:bold;
} -->
{% endblock %}
  {% block title2 %}THE TEAM{% endblock %}
  {% block descriptor %}We've worked painstakingly as a team to complete this project. Every person acts as a moving part in our engine and we couldn't do it without a team member. Below, we list every team member that has worked on this project and the role they've taken up across the duration of our sprints:{% endblock %}
  {% block body %}
      <div class="example">
        <div class="row">
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img class="img-rounded team" src="/static/team/Shahrukh.jpg">
                <div class="caption text-center">
                  <h3>Shahrukh Khan</h3>
                  <p>Product Leader and Trainer</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img class="img-rounded team" src="/static/team/Frederick.jpg">
                <div class="caption text-center">
                  <h3>Frederick Johnson</h3>
                  <p>Development Team</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img class="img-rounded team" src="/static/team/Armaan.jpg">
                <div class="caption text-center">
                  <h3>Armaan Alam</h3>
                  <p>Development Team</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img class="img-rounded team" src="/static/team/Zilamo.jpg">
                <div class="caption text-center">
                  <h3>Zilamo Farik</h3>
                  <p>Development Team</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img class="img-rounded team" src="/static/team/Shadman.jpg">
                <div class="caption text-center">
                  <h3>Shadman Ahmed</h3>
                  <p>Monitoring Team</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img class="img-rounded team" src="/static/team/Vivek.jpg">
                <div class="caption text-center">
                  <h3>Vivek Radhakrishnan</h3>
                  <p>Monitoring Team</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img class="img-rounded team" src="/static/team/Tudor.jpg">
                <div class="caption text-center">
                  <h3>Tudor Andrei Tocan</h3>
                  <p>Monitoring Team</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img class="img-rounded team" src="/static/team/Yacob.jpg">
                <div class="caption text-center">
                  <h3>Yacob Pereira</h3>
                  <p>Monitoring Team</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img class="img-rounded team" src="/static/team/Vlad.jpg">
                <div class="caption text-center">
                  <h3>Vladimir Kashtelyanov</h3>
                  <p>Automation Team</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img class="img-rounded team" src="/static/team/Fahim.jpg">
                <div class="caption text-center">
                  <h3>Fahim Kalam</h3>
                  <p>Automation Team</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img class="img-rounded team" src="/static/team/Latif.jpg">
                <div class="caption text-center">
                  <h3>Latif Abu</h3>
                  <p>Automation Team</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img class="img-rounded team" src="/static/team/Karim.jpg">
                <div class="caption text-center">
                  <h3>Karim Bachir</h3>
                  <p>Automation Team</p>
                </div>
              </div>
            </div>
          </div>
      </div>
  {% endblock %}