{% extends 'base.html' %}
{% block title %}Tools Used{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="/static/bootstrap.min.css">
<link rel="stylesheet" href="/static/site.css">
<link rel="stylesheet" href="/static/site.min.css">
{% endblock %}
{% block styles %}
img.img-rounded {
    width:60% !important;
    height: 300px !important;
    object-fit: contain !important;
} 
.setheight{height:450px}
.img-rounded{max-height:250px;object-fit:fill}
.w3-top {
  font-size: 15px !important;
  line-height: 1.5 !important;

}
{% endblock %}
  {% block title2 %}TOOLS{% endblock %}
  {% block descriptor %}Throughout our time  on this course we have used various tools to help us accomplish tasks. You can see these tools below:{% endblock %}
  {% block body %}
      <div class="example">
        <h2 class="example-title">Tools</h2>
        <div class="row">
          <div class="col-sm-6 col-md-3 setheight">
            <div class="thumbnail">
              <img class="img-rounded" src="/static/tools/python.png">
              <div class="caption text-center">
                <h3>Python</h3>
                <p>Python language was taught in the first few weeks and used in the final project to run the webscraping tool.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 setheight">
            <div class="thumbnail">
              <img class="img-rounded" src="/static/tools/Jenkins.jpg">
              <div class="caption text-center">
                <h3>Jenkins</h3>
                <p>Jenkins was used to automate tasks.We first used Jenkins to create a CI/CD pipeline,automate an IaC task with ansible, and more importantly in the final project it was used to </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 setheight">
            <div class="thumbnail">
              <img class="img-rounded" src="/static/tools/Docker1.png">
              <div class="caption text-center">
                <h3>Docker</h3>
                <p>Docker was used to create containerised webpages.In our final project it was used to host our application.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 setheight">
            <div class="thumbnail">
              <img class="img-rounded" src="/static/tools/github.jpg">
              <div class="caption text-center">
                <h3>Github</h3>
                <p>Github was used to store the code in a repository, new code was pushed to Github on the dev branch, which triggered the webhook and started the automation process. </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-3 setheight">
            <div class="thumbnail">
              <img class="img-rounded" src="/static/tools/terraform.png">
              <div class="caption text-center">
                <h3>Terraform</h3>
                <p>Terraform was used to create infrastructure with code.It can also be used to create instances and important infrastructure on AWS. </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 setheight">
            <div class="thumbnail">
              <img class="img-rounded" src="/static/tools/Kubernetes-Logo.wine.png">
              <div class="caption text-center">
                <h3>Kubernetes</h3>
                <p>Kubernetes was used to orchestrate containerised applications to run on a cluster of hosts.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 setheight">
            <div class="thumbnail">
              <img class="img-rounded" src="/static/tools/Grafana_logo.png">
              <div class="caption text-center">
                <h3>Grafana</h3>
                <p>Grafana is a dashboard used to monitor the kubernetes cluster.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 setheight">
            <div class="thumbnail">
              <img class="img-rounded" src="/static/tools/AWS-S3-minh.png">
              <div class="caption text-center">
                <h3>AWS S3</h3>
                <p>Storage system on AWS.It has a range of uses going from disaster recovery to regular database storage. </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-3 setheight">
            <div class="thumbnail">
              <img class="img-rounded" src="/static/tools/aws-cloudwatch-logo-png-transparent.png">
              <div class="caption text-center">
                <h3>Cloudwatch</h3>
                <p>Used to monitor the ec2 instances on AWS.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 setheight">
            <div class="thumbnail">
              <img class="img-rounded" src="/static/tools/Amazon ec2.png">
              <div class="caption text-center">
                <h3>Amazon ec2</h3>
                <p>Instances create here, used to host Jenkins master and agent node and kubernetes cluster.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 setheight">
            <div class="thumbnail">
              <img class="img-rounded" src="/static/tools/Pytest.png">
              <div class="caption text-center">
                <h3>Pytest</h3>
                <p>Pytest was used to run tests on the app code. Key part of the TDD.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 setheight">
            <div class="thumbnail">
              <img class="img-rounded" src="/static/tools/ansible1.png">
              <div class="caption text-center">
                <h3>Ansible</h3>
                <p>Flask was used to create the webpage in a python environment.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
        <div class="col-sm-6 col-md-3 setheight">
            <div class="thumbnail">
              <img class="img-rounded" src="/static/tools/1200px-Prometheus_software_logo.svg.png">
              <div class="caption text-center">
                <h3>Prometheus</h3>
                <p>Prometheus was used to monitor and alert functionality for cloud environments, in our case Kubernetes.</p>
              </div>
            </div>
          </div>
        <div class="col-sm-6 col-md-3 setheight">
            <div class="thumbnail">
              <img class="img-rounded" src="/static/tools/Flask.png">
              <div class="caption text-center">
                <h3>Flask</h3>
                <p>Flask was used to create the webpage in a python environment.</p>
              </div>
            </div>
          </div>
        <div class="col-sm-6 col-md-3 setheight">
            <div class="thumbnail">
              <img class="img-rounded" src="/static/tools/ubuntu_18.04.jpg">
              <div class="caption text-center">
                <h3>Ubuntu</h3>
                <p>The ubuntu operating system was used for any instances created.</p>
              </div>
            </div>
          </div>
        <div class="col-sm-6 col-md-3 setheight">
            <div class="thumbnail">
              <img class="img-rounded" src="/static/tools/pycharm.jpg">
              <div class="caption text-center">
                <h3>Pycharm</h3>
                <p>Development environment used to code in python.</p>
              </div>
            </div>
          </div>
        </div>
        </div>
  {% endblock %}