{% extends 'base.html' %}
{% block title %}Tools Used{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="/static/bootstrap.min.css">
<link rel="stylesheet" href="/static/site.css">
<link rel="stylesheet" href="/static/site.min.css">
{% endblock %}
{% block styles %}
.team {
    width:100% !important;
    height: 180px !important;
    object-fit: cover !important;
} 
.w3-top {
  font-size: 15px !important;
  line-height: 1.5 !important;

}
<!-- p {
  display: block;
  font-weight:bold;
} -->
{% endblock %}
  {% block title2 %}TOOLS{% endblock %}
  {% block descriptor %}Throughout our time on this course we have used various tools to help us accomplish tasks. You can see these tools below:{% endblock %}
  {% block body %}
      <div class="example">
        <h2 class="example-title">Tools</h2>
        <div class="row">
          <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
              <img class="img-rounded" src="/static/python.png">
              <div class="caption text-center">
                <h3>Python</h3>
                <p>Python language was taught in the first few weeks and used in the final project to run the webscraping tool.</p>
                <p><a href="#" class="btn btn-warning" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
              <img class="img-rounded" src="/static/Jenkins-blog-image-1.jpg">
              <div class="caption text-center">
                <h3>Jenkins</h3>
                <p>Jenkins was used to automate tasks.We first used Jenkins to create a CI/CD pipeline,automate an IaC task with ansible, and more importantly in the final project it was used to </p>
                <p><a href="#" class="btn btn-warning" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
              <img class="img-rounded" src="/static/docker.png">
              <div class="caption text-center">
                <h3>Docker</h3>
                <p>Docker was used to host webpages as images.</p>
                <p><a href="#" class="btn btn-warning" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
              <img class="img-rounded" src="/static/github.jpg">
              <div class="caption text-center">
                <h3>Github</h3>
                <p>Github was used to store the code in a repository, new code was pushed to Github on the dev branch. </p>
                <p><a href="#" class="btn btn-warning" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
              <img class="img-rounded" src="/static/terraform.png">
              <div class="caption text-center">
                <h3>Terraform</h3>
                <p>Terraform was used to create infrastructure such as the VPC. </p>
                <p><a href="#" class="btn btn-warning" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
              <img class="img-rounded" src="/static/Kubernetes-Logo.wine.png">
              <div class="caption text-center">
                <h3>Kubernetes</h3>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id ...</p>
                <p><a href="#" class="btn btn-warning" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
              <img class="img-rounded" src="/static/Grafana_logo.svg.png">
              <div class="caption text-center">
                <h3>Grafana</h3>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id ...</p>
                <p><a href="#" class="btn btn-warning" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
              <img class="img-rounded" src="/static/AWS-S3-min.png">
              <div class="caption text-center">
                <h3>AWS S3</h3>
                <p>Used for disaster recovery</p>
                <p><a href="#" class="btn btn-warning" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
              <img class="img-rounded" src="/static/aws-cloudwatch-logo-png-transparent.png">
              <div class="caption text-center">
                <h3>Cloudwatch</h3>
                <p>Used to monitor the ec2 instances on AWS</p>
                <p><a href="#" class="btn btn-warning" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
              <img class="img-rounded" src="/static/amazon ec2.png">
              <div class="caption text-center">
                <h3>Amazon ec2</h3>
                <p>Instances create here, used to host docker and kubernetes</p>
                <p><a href="#" class="btn btn-warning" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
              <img class="img-rounded" src="/static/pytest.png">
              <div class="caption text-center">
                <h3>Pytest</h3>
                <p>Pytest was used to run tests on the app code</p>
                <p><a href="#" class="btn btn-warning" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
              <img class="img-rounded" src="/static/flask.png">
              <div class="caption text-center">
                <h3>Flask</h3>
                <p>Flask was used to create the webpage</p>
                <p><a href="#" class="btn btn-warning" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
  {% endblock %}