{% extends 'base.html' %}
{% block title %}The Team{% endblock %}
  {% block title2 %}THE TEAM{% endblock %}
  {% block descriptor %}We've worked painstakingly as a team to complete this project. Every person acts as a moving part in our engine and we couldn't do it without a team member. Below, we list every team member that has worked on this project and the role they've taken up across the duration of our sprints:{% endblock %}
  {% block body %}
      <div class="w3-third">
        <p>Name and role</p>
        <img src="teammember1.png" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
      </div>
      <div class="w3-third">
        <p>Name and role</p>
        <img src="teammember2.png" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
      </div>
      <div class="w3-third">
        <p>shahrukh product owner</p>
        <img src="teammember3.png" class="w3-round" alt="Random Name" style="width:60%">
      </div>
  {% endblock %}